:root {
  --board-line-color: #0000dd;
  --board-color: darkblue;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  box-shadow: 5px 5px 14px 7px rgba(0,0,0,0.5);
  margin-bottom: 1em;
  user-select: none;
  /* border: solid .3vw var(--board-line-color);
  box-sizing: border-box; */
}

.board:after {
  pointer-events: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid .3vw var(--board-line-color);
  z-index: 100;
}

.col {
  width: 14%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  position: relative;
  z-index: 10;
  overflow: hidden;
  box-shadow: inset 0 0 0 min(1vh, 1vw) var(--board-color);
  /* border-bottom: solid .3vw var(--board-line-color); */
  /* border-top: solid .3vw var(--board-line-color); */
}

.col + .col {
  border-left: solid .3vw var(--board-line-color);
}

.col.clickable:hover {
  cursor: pointer;
  background: rgba(0, 0, 139, 0.5);
}