.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  padding: .3rem 1rem .3rem 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button:active {
  background-color: rgba(255,255,255, 0.15);
}

.button:disabled {
  opacity: 0.4;
  cursor: default;
}

.button:disabled:active {
  background-color: rgba(255, 255, 255, 0.2);
}