.game {
  display: flex;
  flex-direction: column;
  margin: 0 0.5em;
}

.gameOverMessage {
  color: red;
}

.moveLog {
  font-family: monospace;
  margin: 0.5em auto;
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
}

.moveLog:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.loggedMove {
  color: red;
  display: inline-block;
}

.loggedMove + .loggedMove {
  padding-left: .5em;
}

.loggedMove:nth-of-type(even) {
  color: yellow;
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.controls > * {
  margin-bottom: 0.5em;
}
